<div id="about-product" class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center">
  <div class="left-block">
    <h2 class="title">Знают, когда вы слушаете.</h2>
    <p class="description">Акселерометр и оптические сенсоры, взаимодействуя друг с другом, управляют различными
      аудио‑функциями: активируют микрофоны для телефонных звонков и голосовых команд Siri, а также позволяют AirPods
      воспроизводить звук, когда наушники уже в ушах. При этом вы можете использовать и оба наушника, и только один. А
      ещё AirPods распознают двойные касания, с помощью которых удобно включать и выключать музыку или переключать
      треки.</p>
    <img src="./img/airpod_headphone.png" alt="Left airpod" class="left-airpod">
  </div>
  <div class="right-block">
    <h2 class="title">Знают, когда вы говорите.</h2>
    <p class="description">Специальный акселерометр умеет распознавать, что вы разговариваете. Благодаря этому он
      помогает направленным микрофонам отфильтровать внешний шум и фокусироваться на звуке вашего голоса.</p>
    <img src="./img/airpod_headphone.png" alt="Right airpod" class="right-airpod">
  </div>

  <img src="./img/Buildings__Black.png" alt="Black buildings image" class="first-img-footer">
  <img src="./img/Buildings__White.png" alt="White buildings image" class="second-img-footer">
</div>