<div id="checkout">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h2 class="container-title">Оформить заказ</h2>
    <p class="container-subtitle">Покупайте сегодня за <span>2999</span>₴</p>
    <form class="checkout-form">
      <label class="checkout-form-label d-flex flex-column justify-content-center align-items-center">
        <input required class="checkout-input" id="name" name="name" type="text" placeholder="Имя" data-label="name">
        <span></span>
        <input required class="checkout-input" name="surname" type="text" placeholder="Фамилия" data-label="surname">
        <input required class="checkout-input input-tel-js" name="tel" pattern="2[0-9]{3} [0-9]{3}" type="tel"
               placeholder="Номер телефона" data-label="tel">
        <input required class="checkout-input" type="text" name="region" placeholder="Область" data-label="region">
        <input required class="checkout-input" type="text" name="city" placeholder="Город" data-label="city">
        <input required class="checkout-input input-post-js" type="number" name="post"
               placeholder="Отделение новой почты" data-label="post">

        <button type="submit" value="Отправить" class="btn send-order-btn">Отправить</button>
        <span class="e-message-js"></span>
      </label>

    </form>
  </div>
</div>
