<header id="header">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h1 class="header-title">AirPods 2</h1>
    <p class="header-subtitle">Прикоснись к технологиям. Новые AirPods 2-го поколения от Apple ждут тебя.</p>
    <button class="btn header-checkout-btn">Оформить заказ</button>
    <h2 class="header-price">₴2999</h2>
  </div>
</header>