<div id="reviews-users">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h2 class="container-title">Отзывы наших покупателей</h2>
    <p class="container-subtitle">Отзывы счастливых обладателей AirPods, приобретённых в нашем магазине.</p>
    <div class="reviews d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center">
      <div class="user-review">
        <img class="user-image" src="./img/anton.jpg" alt="User avatar">
        <h2 class="user-name">Антон</h2>
        <p class="review-text">Бывает пользуюсь наушниками в перерывах между съемками, AirPods хорошо отрабатывают свою задачу. Слушаю в них подкасты, иногда и музыка проскакивает. Решил сильно не тратиться, выбрал AirShop для сотрудничества. Приятные ребята, без проблем оформил заказ.</p>
      </div>

      <div class="user-review">
        <img class="user-image" src="./img/kristina.jpg" alt="User avatar">
        <h2 class="user-name">Кристина</h2>
        <p class="review-text">Обрала Аіршоп за порадою своїх друзів, які тут вже купували. Як і казали: приємні хлопці, гарний товар. Відправили того ж дня, коли був оформлений заказ. Через 2 дні забрала у відділенні Нової Пошти. Самі навушники, мабуть, найзручніші з тих, які я використовувала. Часто слухаю з їх допомогою музику та розмовляю. Активний відпочинок та заняття у залі теж не проводяться без них. Рекомендую.</p>
      </div>

      <div class="user-review">
        <img class="user-image" src="./img/vlad.jpg" alt="User avatar">
        <h2 class="user-name">Влад</h2>
        <p class="review-text">Заказал тут наушники, приехали спустя 2 дня на отделение Новой почты. Осмотрел запечатанную коробку, всё отлично, - забрал. Пользуюсь пару недель, полёт нормальный. С айфоном работают шикарно. Магазин отличный, продукт хороший, сервис неплохой.
          Советую</p>
      </div>
    </div>
  </div>
</div>
