<div id="specifications">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h2 class="container-title">Характеристики</h2>
    <p class="container-subtitle">Используйте возможности Ваших наушников на полную.</p>
    <div
      class="specifications-container flex-column flex-md-row flex-wrap flex-md-nowrap d-flex justify-content-between align-items-center">
      <div class="specification">
        <span class="time-circle">24</span>
        <p class="circle-description">Часа работы от аккумулятора с подзарядкой в футляре</p>
      </div>

      <div class="specification">
        <span class="time-circle">5</span>
        <p class="circle-description">Часов работы от аккумулятора без подзарядки</p>
      </div>

      <div class="specification">
        <span class="time-circle">15</span>
        <p class="circle-description">Минут подзарядки для 3 часов прослушивания аудио</p>
      </div>
    </div>
    <img class="airpods-in-case-image" src="./img/headphones-in-case.png" alt="headphones in case">
  </div>
</div>
