@import "global";

#about-product {
  background-color: #1D1D1D;
  padding: 320px 0 320px 0;
  position: relative;

  .left-block {
    width: 35%;
    padding: 0 200px 0 0;
    text-align: right;
    position: relative;

    .left-airpod {
      width: 200px;
      transform: scaleX(-1);
      mix-blend-mode: difference;
      position: absolute;
      right: 0;
      top: -200px;
    }
  }

  .title {
    color: #FEFEFE;
    font-size: 48px;
  }

  .description {
    color: #B7B7B7;
    font-size: 15px;
  }

  .right-block {
    width: 35%;
    padding: 0 0 0 200px;
    text-align: left;
    position: relative;

    .right-airpod {
      width: 200px;
      mix-blend-mode: difference;
      position: absolute;
      left: 0;
      top: -200px;
    }
  }

  .first-img-footer,
  .second-img-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .second-img-footer {
    bottom: -2px;
  }
}

@media only screen and (max-width: 768px) {
  #about-product {
    padding: 260px 0 150px 0;

    .right-block {
      padding: 0;
      width: 90%;
      margin: 240px 0 0 0;

      .title {
        padding: 0 0 0 100px;
        margin: 0 0 40px 0;
      }
    }

    .left-block {
      padding: 0;
      width: 90%;
      margin: 0 0 50px 0;

      .title {
        padding: 0 100px 0 0;
        margin: 0 0 40px 0;
      }
    }
  }
}