@import 'global';

#checkout {
  @include container-title(#1D1E1F, #898888);
  margin: 80px 0 0 0;

  .checkout-form {
    margin: 75px auto;
    width: 100%;
    .checkout-input {
      border: 1px solid #999;
      border-radius: 0;
      box-sizing: border-box;

      font-size: 15px;
      text-align: center;
      outline: none;

      color: #898888;
      width: 100%;
      height: 50px;
      margin: 0 0 20px 0;
    }

    .send-order-btn {
      border: 1px solid #161616;
      border-radius: 0;
      box-sizing: border-box;
      color: #fff;
      background: #161616;
      width: 100%;
      height: 50px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #checkout {
    .checkout-form {
      margin: 75px auto 0px auto;
    }
  }
}