@mixin container-title($titleColor, $subtitleColor) {
  .container-title {
    color: $titleColor;
    font-size: 34px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 6px 0;
  }
  .container-subtitle {
    color: $subtitleColor;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    text-align: center;
  }
}
