@import "global";

#header {
  padding: 350px 0 350px 0;
  text-align: center;
  filter: grayscale(100%);
  background: url(../img/header-background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  .header-title {
    color: #1D1E1F;
    font-family: "HelveticaNeueLT Pro 45 Lt", 'sans-serif';
    font-size: 44px;
    margin: 0 0 11px 0;
  }

  .header-subtitle {
    color: #898888;
    font-family: "HelveticaNeueLT Pro 45 Lt", 'sans-serif';
    font-size: 16px;
    margin: 0 0 42px 0;
  }

  .header-checkout-btn {
    border: 1px solid #1D1E1F;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 13px;
    padding: 20px 30px;
  }

  .header-checkout-btn:hover {
    color: #fff;
    background-color: #1D1E1F;
  }

  .header-price {
    color: #898888;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 400;
    font-family: 'HelveticaNeueLT Pro 37 ThCn' ,'sans-serif';
  }
}

@media only screen and (max-width: 768px) {
  #header {
    padding: 350px 0 80px 0;
    background-position: right top;

    .header-price {
      font-size: 19px;
    }
  }
}