@import "global";

#reviews-users {
  @include container-title(#1D1E1F, #898888);
  margin: 50px 0 0 0;
  .reviews {
    margin: 124px 0 0 0;
    padding: 0 0 138px 0;

    .user-review {
      border: 1px double rgba(0,0,0,0.2);
      box-sizing: border-box;

      padding: 114px 20px 45px 20px;
      position: relative;
      margin: 0 20px 0 20px;
      text-align: center;
      width: 400px;

      .user-name {
        color: #464646;
        font-family: "HelveticaNeueLT Pro 55 Roman", 'sans-serif';
        font-size: 30px;
        margin: 0 0 22px 0;
      }

      .user-review {
        color: #B3B3B3;
        font-family: "HelveticaNeueLT Pro 55 Roman", 'sans-serif';
        font-size: 13px;
        margin: 0 90px;
      }

      .user-image {
        box-sizing: border-box;
        border-radius: 50%;

        width: 170px;
        height: 170px;

        filter: grayscale(100%);


        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
    }
    .user-review:nth-child(odd) {
      margin: 185px 0 0 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .reviews {
    .user-review {
      margin: 70px auto !important;
      padding: 114px 20px 40px 20px !important;
      width: 300px !important;
    }
  }
}