@import 'global';

#specifications {
  @include container-title(#fff, #777);
  background-color: #1D1E1F;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding: 250px 0 0 0;

  .container {
    .specifications-container {
      .specification {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .time-circle {
          margin: 120px 0 43px 0;

          border: 7px solid #fff;
          border-radius: 50%;
          box-sizing: border-box;

          width: 170px;
          height: 170px;

          display: flex;
          justify-content: center;
          align-items: center;

          color: #fff;
          font-family: 'Montserrat ExtraBold', 'sans-serif';
          font-size: 60px;
        }

        .circle-description {
          color: #fff;
          text-align: center;
          font-family: 'Myriad Pro', 'sans-serif';
          font-weight: 400;
          font-size: 22px;
        }
      }
    }

    .airpods-in-case-image {
      mix-blend-mode: lighten;
      filter: brightness(1.5);
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  #specifications {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    padding: 100px 0 0 0;
    .container {
      .specifications-container {
        .specification {
          .time-circle {
            margin: 40px 0 40px 0 !important;
          }
          margin: 0 auto !important;
        }
      }

      .airpods-in-case-image {
        width: 100%;
      }
    }
  }
}