
body {
  margin: 0;
  padding: 0;

  @import "global";

  @import "header";
  @import "aboutProduct";
  @import "reviewsUsers";
  @import "specifications";
  @import "checkout";
  @import "footer";
}